@import "./styles/nav-bar.css";
@import "./styles/sobre.css";
@import "./styles/metricas.css";

* {
 padding: 0;
 margin: 0;
 font-family: Inter, "sans-serif";
}

a {
 text-decoration: none;
}

ul,
li {
 list-style: none;
}

/* cores */

:root {
 --cor-padrao: #8e2424;
 --cor-links: #667085;
 --cor-p: #3a404e;
}
